body {
  font: 20px/1.5 arial;
  padding: 0;
  margin: 0;
}

/*global*/
.container {
  width: 80%;
  overflow: hidden;
}

section {
  display: block;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/*nav bar*/
#nav-bar {
  position: fixed;
  width: 100%;
  z-index: 100;
  background: #141622 !important;
}

.navbar-name {
  display: inline-block;
  padding: 0.4rem 0 0.4rem 0;
  font-size: 1.8rem;
  color: #008080;
}

header a {
  color: #008080 !important;
  font-size: 1.2rem;
}
header a:hover {
  color: #008080 !important;
  font-weight: bold;
}
header ul {
  margin-left: auto;
  justify-content: end;
}
header li {
  display: list-item;
  padding: 0 0.5em 0 0.5em;
}
header p {
  margin: auto;
}

/*About section*/
.edu {
  list-style: none;
}

.fa-graduation-cap {
  font-size: 1.3rem;
  font-weight: bold;
}

#school {
  font-size: 1.1rem !important;
}

#top {
  background-color: #fff;
  padding: 110px 0px 110px 0px;
}

.me {
  width: 270px;
  height: 270px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 50%;
  max-width: 100%;
  display: block;
}

img {
  vertical-align: middle;
}

#profile-pic,
.networks {
  margin-top: 30px;
}

#profile-pic {
  text-align: center;
  padding: 30px 10px;
  position: relative;
}

.networks {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.networks li {
  margin-right: 10px;
  display: list-item;
  font-size: 1.6rem;
}

.networks a {
  color: #03afff;
  cursor: pointer;
}

#top p {
  font-size: 1.5rem;
}

/* finish portfolio and contact section later */
/*Portfolio section*/
#middle {
  background-color: #f7f7f7;
  padding: 110px 0;
}

#middle h1 {
  font-size: 2.25rem;
}

.projects-container {
  position: relative;
}

.project-item {
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-start;
  font-size: 1.2rem;
}

.project-title {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.project-info {
  margin-top: 2px;
  font-size: 0.8rem;
}

.btn.btn-sm {
  padding: 0.6px 0.4px;
  font-size: 0.8rem;
  border-radius: 0.2rem;
}

.project-pic {
  margin-left: 1rem;
}

.project-pic img {
  max-width: 150px;
  height: auto;
  object-fit: cover;
}

/*Contact section*/
#bottom {
  background-color: #fff;
  padding: 110px 0;
}

#bottom h1 {
  margin: 0 0 10px;
  font-size: 2.25rem;
}

input {
  background-color: transparent;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  border: 0;
  border-bottom: 1px solid;
  padding: 5px;
  font-size: 30px;
  margin-top: 60px;
}
.contact-btn {
  margin-top: 10px;
  font-size: 0.8rem;
}
#bottom p {
  font-size: 25px;
  margin: 80px 60px 0 0;
}

/*social media link*/
footer {
  background-color: purple;
  color: #008080;
  padding-top: 25px;
  min-height: 100px;
  position: absolute;
  width: 100%;
}
footer h1 {
  float: left;
  margin-left: 150px;
  font-size: 25px;
}
.logo {
  height: 22px;
  width: 20px;
  border-radius: 20%;
}
footer h2 {
  float: right;
  font-size: 25px;
  margin-right: 150px;
  margin-bottom: 40px;
}
